<form>
  <fieldset>
      <legend>Register</legend>

      <label for="username">Username</label>
      <input type="text" id='username' name="username" placeholder="Username" [(ngModel)]="username" (blur)="checkUsername()">

      <br>

      <label for="email">Email</label>
      <input type="text" name="email" placeholder="E-Mail" [(ngModel)]="email">

      <br>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password">

      <br>

      <label for="repeatPassword">Repeat Password</label>
      <input type="password" name="repeatPassword" placeholder="Password" [(ngModel)]="repeatPassword">

      <br>

      <button type="button" (click)="checkParameters()">Submit</button>
  </fieldset>
</form>
